@{
    ViewBag.Title = "My Feed";
}
@model List<NewsFeeds.Entities.Post.ViewModels.PostDisplayViewModel>
<div>
    <h2>What's New</h2>
    <hr />
    <div class="container-fluid">
        <div class="row">
            @foreach(var post in Model)
            {
                <div class="col-xs-12">
                    <div class="post">
                        <div class="header">
                            <span class="title">
                                @post.Title
                            </span>
                            <span class="author">
                                by @post.AuthorUsername
                            </span>
                        </div>
                        <hr />
                        <div class="body">
                            @post.Content
                        </div>
                        <div class="footer">
                            <span>@post.Time @post.Date</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>