<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NewsFeeds</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NewsFeeds", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Topics", "Index", "Topic")
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="alert"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NewsFeeds</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script type="text/javascript">
        function bindSubscriptionButtonEvents() {
            $('.btn[data-is-subscribed="true"]').click(handleUnsubscribeClick);
            $('.btn[data-is-subscribed="false"').click(handleSubscribeClick);
        }

        function handleSubscribeClick(event) {
            event.preventDefault();
            var topicName = $(event.currentTarget).data('topic-name');
            subscribe(topicName)
                .then(function () {
                    var button = $(event.currentTarget);
                    button.text('Unsubscribe');
                    button.prop('data-is-subscribed', true);
                    button.addClass('btn-default');
                    button.removeClass('btn-primary');
                    button.unbind('click');
                    button.bind('click', handleUnsubscribeClick)
                });
        }

        function handleUnsubscribeClick(event) {
            event.preventDefault();
            var topicName = $(event.currentTarget).data('topic-name');
            unsubscribe(topicName)
                .then(function () {
                    var button = $(event.currentTarget);
                    button.text('Subscribe')
                    button.prop('data-is-subscribed', false);
                    button.addClass('btn-primary')
                    button.removeClass('btn-default');
                    button.unbind('click');
                    button.bind('click', handleSubscribeClick)
                });
        }

        function subscribe(topicName) {
            if (typeof topicName !== 'string') {
                return Promise.reject('Bad parameters');
            }

            return new Promise(function (resolve, reject) {
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("Index", "Topic")/' + topicName + '/subscription',
                    success: resolve,
                    error: reject
                })
            });
        }

        function unsubscribe(topicName) {
            if (typeof topicName !== 'string') {
                return Promise.reject('Bad parameters');
            }

            return new Promise(function (resolve, reject) {
                $.ajax({
                    method: 'DELETE',
                    url: '@Url.Action("Index", "Topic")/' + topicName + '/subscription',
                    success: resolve,
                    error: reject
                })
            });
        }
    </script>

    @RenderSection("scripts", required: false)

    
</body>
</html>
