@using NewsFeeds.Entities.Post.ViewModels;
@using System.Web.Mvc;


@helper PostList(List<PostDisplayViewModel> posts, UrlHelper url, ViewContext context)
{
    foreach (var post in posts)
    {
        @SinglePost(post, url, context);

    }
}

@helper SinglePost(PostDisplayViewModel post, UrlHelper url, ViewContext context)
{
    <div class="col-xs-12">
        <div class="post">
            <div class="header">
                <span class="title">
                    @post.Title
                </span>

                @if (context.Controller.ValueProvider.GetValue("action").RawValue.ToString() != "Details")
                {
                    <span>
                        <a href="@url.Action("Details", "Topic", new { name = post.TopicName })">/@post.TopicName</a>
                    </span>
                }

            </div>
            <hr />
            <div class="body">
                @post.Content
            </div>
            <div class="footer">
                <span>@post.AuthorUsername on</span>
                <span>@post.Time @post.Date</span>
            </div>
        </div>
    </div>
}
