@using NewsFeeds.Entities.Topic.ViewModels;
@using System.Web.Mvc

@helper TopicHome(List<TopicDisplayViewModel> vm, UrlHelper url) { 
    <div class="container-fluid">
        <div class="row">
            @foreach (var topic in  vm) {
                @SingleTopic(topic, url)
            }
        </div>
    </div>
}

@helper SingleTopic(TopicDisplayViewModel vm, UrlHelper url) { 
    <div class="col-sm-3">
        <div class="topic">
            <div class="header">
                <div class="title">
                    @vm.Name
                </div>
                <div class="actions">
                    <a class="btn btn-primary btn-xs" href="@url.Action("Login", "Account")">
                        Subscribe
                    </a>
                </div>
            </div>
            <div class="meta">
                <span class="subscriptions">
                    @vm.SubscribersCount
                    @if (vm.SubscribersCount > 1 || vm.SubscribersCount == 0)
                    {
                        <span>Subscribers</span>
                    }
                    else
                    {
                        <span>Subscriber</span>
                    }
                </span>
                <span class="posts">
                    @vm.PostsCount
                    @if (vm.PostsCount > 1 || vm.PostsCount == 0)
                    {
                        <span>Posts</span>
                    }
                    else
                    {
                        <span>Post</span>
                    }
                </span>
            </div>
        </div>
    </div>
}
